<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <style>
    .menu-categories {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .menu-category {
      margin-bottom: 1rem;
    }

    .item-name {
      padding-left: 1rem;
    }

    .item-price {
      padding-left: 0.5rem;
      text-align: right;
    }

    .item-port {
      font-size: 0.625rem;
    }
  </style>
</head>
<body>
  <div id="app">
    <span v-if="loading">Loading menu... :)</span>
    <div style="display: none;" v-show="menu" v-if="menu">
      <span><b>{{ menu.date }}</b></span>
      <ul class="menu-categories">
        <li v-for="category in menu.cat" class="menu-category">
          <table>
            <thead>
              <tr>
                <th>{{ category.cname }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in category.item">
                <td class="item-name">
                  <span v-html="item.iname"></span><small class="item-port">{{ item.iport }}</small>
                </td>
                <td class="item-price">
                  {{ item.iprice }}&nbsp;р.</td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>
</html>
