<!DOCTYPE html>
<html>

<head>
  <title>Menu</title>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <span v-if="loading">Loading menu... :)</span>
    <div id="menu" v-if="menu">
      <span><b>{{ menu.date }}</b></span>
      <ul>
        <li v-for="category in menu.cat">
          <table>
            <thead>
              <tr>
                <th>{{category.cname}}</th>
                <th>Цена, р.</th>
                <th>Вес, г.</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in category.item">
                <td v-html="item.iname"></td>
                <td v-html="item.iprice"></td>
                <td v-html="item.iport"></td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
  <script src="app.js"></script>

</body>

</html>
